.row {
    width: calc(100% - 3rem);
    max-width: 1400px;
    margin: 0 auto;
  
    @include xs-only {
        width: calc(100% - 1rem);
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include lg {
        justify-content: space-between;
    }
}
  
.flex-item {
    flex-basis: 100%;

    @include lg {
        flex-basis: 45%;
    }
}